@charset "UTF-8";

/* Definição das variáveis de estilo */
:root {
    --fonte1: 'Passion One', cursive;
    --fonte2: Verdana, Geneva, Tahoma, sans-serif;
    --fonte3: cursive;
    --fontevmax: 2.7vmax;
    --cor-body: #f5f5f5;
    --cor-primaria: #000000;
    --cor-secundaria: #fff;
    --cor-background-sobreposto1: #021603;
    --cor-background-sobreposto2: #d8b48d85;
}

/* Reset e configurações globais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    background-color: var(--cor-body);
}

header {
    background-color: var(--cor-primaria);
    background-size: cover;
    color: var(--cor-secundaria);
    text-align: center;
    padding-top: 7vh;
    padding-bottom: 7vh;
    border: 0;
    outline: 0;
}

h1 {
    font-family: var(--fonte1);
    font-size: 7vw;
    letter-spacing: 0.3vw;
}

/* Estilo para as letras iniciais "C" e "M" do título */
h1 > span {
    font-size: 10vw;
}


/* Estilo para o texto do cabeçalho */
header > p {
    font-family: var(--fonte2);
    font-size: 16px;
}

/* Estilo para o link do autor */
header > p > a {
    text-decoration: none;
    font-weight: bold;
    color: var(--cor-secundaria);
}

header > p > a:hover {
    text-decoration: underline;
}

/* Estilo para o texto externo */
.externo {
    font-family: var(--fonte3);
    font-style: italic;
    font-weight: 600;
    font-size: var(--fontevmax);
    line-height: 2em;
    color: var(--cor-primaria);
    padding: 4vh 0vw 6vh 3.5vw;
}

/* Estilo para a seção com imagem de fundo 01 em efeito paralax*/
#img01 {
    background-image: url(imagens/ladybug-1280.jpg);  /*Imagem de licença gratuita extraída da plataforma https://pixabay.com/pt/*/
    background-repeat: no-repeat;
    background-position: right center;
    background-size: cover;
    height: 60vmax;
    width: 100vw;
    background-attachment: fixed;
    position: relative;
}

/* Estilo para o texto sobreposto na imagem 01 */
.sobreposto1 {
    position: absolute;
    top: 10vmax;
    left: 2vmax;
    z-index: 1;
    padding: 2vh 1vw 2vh 1vw;
    font-family: var(--fonte3);
    font-style: italic;
    font-weight: 600;
    font-size: var(--fontevmax);
    line-height: 2em;
    color: var(--cor-secundaria);
    opacity: 0.8;
    background-color: var(--cor-background-sobreposto1);
    border-radius: 0.5rem;
}

/* Estilo para a seção com imagem de fundo 02 em efeito paralax*/
#img02 {
    background-image: url(imagens/letters-1280.jpg); /*Imagem de licença gratuita extraída da plataforma https://pixabay.com/pt/*/
    background-repeat: no-repeat;
    background-position: right center;
    background-size: cover;
    height: 60vmax;
    width: 100vw;
    background-attachment: fixed;
    position: relative;
}

/* Estilo para o texto sobreposto na imagem 02 */
.sobreposto2 {
    position: absolute;
    top: 10vmax;
    left: 2vmax;
    z-index: 1;
    padding: 2vh 1vw 2vh 1vw;
    font-family: var(--fonte3);
    font-style: italic;
    font-weight: 600;
    font-size: var(--fontevmax);
    line-height: 2em;
    color: var(--cor-secundaria);
    opacity: 1;
    background-color: var(--cor-background-sobreposto2);
    border-radius: 0.5rem;
}

footer {
    background-color: var(--cor-primaria);
    background-size: cover;
    margin-top: 10vh;
    color: var(--cor-secundaria);
    text-align: center;
    padding-top: 2vh;
    padding-bottom: 2vh;
    border: 0;
    outline: 0;
    font-family: var(--fonte2);
    font-size: 1em
}

footer > p > a {
    text-decoration: none;
    color: var(--cor-secundaria);
    font-weight: bold;
}

footer > p > a:hover {
    text-decoration: underline;
}